/data/export
/notebooks/cache
/data/gpx
notebooks/.DS_Store
data/plot_data/osm_landuse_extract.geojson
data/plot_data/osm_landuse_extract.qmd
data/plot_data/osm_landuse.geojson
data/plot_data/osm_landuse_th.qmd
data/plot_data/gis_osm_water_a_free_1.shx
data/plot_data/gis_osm_water_a_free_1.cpg
data/plot_data/gis_osm_water_a_free_1.cpg
data/plot_data/gis_osm_water_a_free_1.dbf
data/plot_data/gis_osm_water_a_free_1.prj
data/plot_data/gis_osm_water_a_free_1.shp
data/plot_data/gis_osm_water_a_free_1.shx
